
@{
    ViewBag.Title = "Add Product";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Add Product
    </h1>

    <form style="margin-bottom: 50px;text-align: -webkit-center;" action="/Home/ActionAddProduct" method="post">
        <div class="form-column">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Product name</label>
                <input type="text" class="form-control" id="validationDefault01" name="name" placeholder="Product name" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Price</label>
                <input type="number" class="form-control" id="validationDefault02" name="price" placeholder="Price" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Description</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="validationDefaultUsername" name="description" placeholder="Desctiption" aria-describedby="inputGroupPrepend2" required>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultPassword">Amount</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="validationDefaultPassword" name="amount" placeholder="Amount" aria-describedby="inputGroupPrepend3" required>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add Product</button>
    </form>
</div>