@{
    ViewBag.Title = "Sale";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="color: red;">
        SALE
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">Sale</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="https://cdn.shopify.com/s/files/1/0007/7099/8308/products/huge-stock-clearance-banner_1200x1200.png?v=1521153145" style="width: 100%;height: 350px;" alt="">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Stuff name</h4>
                <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="http://placehold.it/250x150" alt="">
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Buy now!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Stuff name</h4>
                <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="http://placehold.it/250x150" alt="">
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Buy now!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Stuff name</h4>
                <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="http://placehold.it/250x150" alt="">
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Buy now!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>